variables:
  GO_VERSION: '1.21.6'
  GONOSUMDB: gitlab.com
  GOPRIVATE: gitlab.com/iskaypetcom
  GITLAB_TOKEN: ${CICD_TOKEN}
  TASK_VERSION: v3.34.1
  KANIKO_VERSION: v1.20.0
  KUSTOMIZE_INPUT_FOLDER: kustomize
  KUSTOMIZE_ARTIFACT_FOLDER: kustomize-out
  KUSTOMIZE_VERSION: v5@v5.3.0

.go-cache:
  variables:
    GOPATH: $CI_PROJECT_DIR/.go
  before_script:
    - mkdir -p .go
  cache:
    paths:
      - .go/pkg/mod/

default:
  tags:
    - kubernetes-executor

before_script:
  - chmod -R 755 .gitlab

stages:
  - build
  - test

code_navigation:
  image: docker.io/golang:${GO_VERSION}
  stage: build
  allow_failure: true
  extends: .go-cache
  script:
    - .gitlab/code_navigation.sh
  artifacts:
    reports:
      lsif: dump.lsif
  only:
    - main

compile:
  stage: build
  image: docker.io/golang:${GO_VERSION}
  extends: .go-cache
  script:
    - .gitlab/build/compile.sh
  allow_failure: false
  only:
    - branches

kustomize:
  stage: build
  image: docker.io/golang:${GO_VERSION}
  extends: .go-cache
  script:
    - ".gitlab/build/kustomize.sh"
  allow_failure: false
  only:
    - branches

docker:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:${KANIKO_VERSION}-debug
    entrypoint:
      - "/bin/sh"
      - "-c"
  script:
    - sh .gitlab/docker/build.sh
  allow_failure: false
  only:
    - branches

unit:
  stage: test
  needs:
    - compile
  image: docker.io/golang:${GO_VERSION}
  variables:
    output: report.xml
  extends: .go-cache
  script:
    - .gitlab/test/unit.sh
  artifacts:
    when: always
    reports:
      junit: report.xml
  allow_failure: false
  only:
    - branches

coverage:
  stage: test
  image: docker.io/golang:${GO_VERSION}
  variables:
    output: coverage-report.out
    html: coverage-report.html
  extends: .go-cache
  script:
    - .gitlab/test/coverage.sh
  artifacts:
    paths:
      - coverage-report.html
  coverage: "/\\(statements\\)\\s+\\d+.?\\d+%/"
  allow_failure: false
  only:
    - branches

coverage-report:
  stage: test
  image: docker.io/golang:${GO_VERSION}
  extends: .go-cache
  script:
    - .gitlab/test/coverage-report.sh
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  only:
    - branches

race:
  stage: test
  needs:
    - compile
  image: docker.io/golang:${GO_VERSION}
  extends: .go-cache
  script:
    - .gitlab/test/race.sh
  allow_failure: false
  only:
    - branches

lint:
  stage: test
  image: golangci/golangci-lint:latest
  variables:
    output: gl-code-quality-report.json
  extends: .go-cache
  script:
    - .gitlab/test/lint.sh
  artifacts:
    reports:
      codequality: gl-code-quality-report.json
    paths:
      - gl-code-quality-report.json
  allow_failure: false
  only:
    - branches
